.HeaderRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color:grey;
    cursor: pointer;
}
.HeaderRight:hover{
    color:#0a66c2;
}
.HeaderRight >h3{
    font-size: 12px;
    font-weight: 400;
}
.my-img{
    height: 25px !important;
    object-fit: contain;
    width: 25px !important;
}
